.spaceContainer{
    background-color:#343244;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
}
@media (max-width : 414px){
    .spaceContainer{
        display: block;
    }
}