@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar .navbar-brand{
    font-size: 30px;
}
.navbar-nav  li  a{
    color: white !important;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-bottom: 0.1875rem solid rgba(255 , 255 , 255, 0);
}

nav ul li{
    text-transform: uppercase;
}
.navbar-nav{
    margin-left: auto;
}
.nav a.nav-link{
    letter-spacing: 0.0375rem;
    cursor: pointer;
    font-size: 20px;
}
.navbar-nav li  a.active , .navbar-nav  li  a.active:focus{
    border-top: 0.1875rem solid #f9ab00
}
.navbar-nav li a:hover{
    border-bottom: 0.1875rem solid #f9ab00;
    transition: 0.3s;

}
.navbar-brand .logo{
    filter: brightness(0) invert(1);
    height: 60px;
    width: 180px;
}
.navbar{
    padding: 0px;
}

